---
layout: default
navbar: Archives
title: Post Archive
---
{% for post in paginator.posts %}
<div class="row">
  <h1><b><a href="{{ post.url }}">{{ post.title }}</a></b></h1>
  <span>
    <i class="text-muted fa fa-calendar"></i>
    {{ post.date | pretty }}
  </span>
</div>
{% endfor %}
<div class="row">
  <ul class="pager">
    {% if paginator.next_page %}
    <li class="previous"><a href="{{paginator.next_page}}">&larr;&nbsp;Older</a></li>
    {% else %}
    <li class="previous disabled"><a href="#">&larr;&nbsp;Older</a></li>
    {% endif %}
    {% if paginator.previous_page %}
    <li class="next"><a href="{{paginator.previous_page}}">Newer&nbsp;&rarr;</a></li>
    {% else %}
    <li class="next disabled"><a href="#">Newer&nbsp;&rarr;</a></li>
    {% endif %}
  </ul>
</div>
