<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li {% if page.navbar == 'Agenda' %}class="active"{% endif %}>
                    <a href="/agenda">Agenda</a>
                </li>
                <li {% if page.navbar == 'About' %}class="active"{% endif %}>
                    <a href="/about">About</a>
                </li>
                <li {% if page.navbar == 'Blog' %}class="active"{% endif %}>
                    <a href="/blog">Blog</a>
                </li>
                <li {% if page.navbar == 'Directions' %}class="active"{% endif %}>
                    <a href="/directions">Directions</a>
                </li>
                <li {% if page.navbar == 'Events' %}class="active"{% endif %}>
                    <a href="/events">Events</a>
                </li>
                <li {% if page.navbar == 'Presentations' %}class="active"{% endif %}>
                    <a href="/presentations">Presentations</a>
                </li>
                <li {% if page.navbar == 'Sponsors' %}class="active"{% endif %}>
                    <a href="/sponsors">Sponsors</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="subscribe-rss" href="/atom.xml" title="subscribe via RSS">
                      <span class="visible-xs">RSS</span>
                      <i class="fa fa-2x fa-rss hidden-xs"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
