<br />
<br />
<br />
<br />

<!-- <strong>Platinum Sponsors</strong>-->
<strong><h3>Gold Sponsors</h3></strong>
<br />
<br />
<a href="http://www.mtsi-va.com/">
<p>Modern Technology Solutions, Inc.</p>
<img src="/images/spon-mtsi.png" width="240" height="80" />
</a>


<strong><h3>Social Media</h3></strong>

<p>Our LinkedIn Group:
<a href="https://www.linkedin.com/company/ohio-information-security-forum/">OISF at LinkedIn</a>
</p>
<script src="//platform.linkedin.com/in.js" type="text/javascript">
  lang: en_US
</script>
<script type="IN/FollowCompany" data-id="2641194" data-counter="right"></script>
<br/>
<a class="twitter-timeline"  href="https://twitter.com/oisf" data-widget-id="535755313488863232">Tweets by @oisf</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
