/* Use Bootstrap stylings for old Octopress img classes, but also give some padding */
img.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 5px;
}
img.right {
  float: right !important;
  padding: 5px;
}
img.left {
  float: left !important;
  padding: 5px;
}
/* Thanks Twitter Bootstrap! */
.responsive {
  width: 100%;
}

/* Better looking kbd class */
/* Thanks Stack Overflow! (http://meta.superuser.com/questions/4788/css-for-the-new-kbd-style) */
kbd {
  -moz-border-radius:3px;
  -moz-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  -webkit-border-radius:3px;
  -webkit-box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  background-color:#f7f7f7;
  border:1px solid #ccc;
  border-radius:3px;
  box-shadow:0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
  color:#333;
  display:inline-block;
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  line-height:1.4;
  margin:0 .1em;
  padding:.1em .6em;
  text-shadow:0 1px 0 #fff;
}

.navbutton {
  max-height: 100px;
}

.btn-navbutton {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-navbutton:focus,
.btn-navbutton.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-navbutton:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-navbutton:active,
.btn-navbutton.active,
.open > .dropdown-toggle.btn-navbutton {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-navbutton:active:hover,
.btn-navbutton.active:hover,
.open > .dropdown-toggle.btn-navbutton:hover,
.btn-navbutton:active:focus,
.btn-navbutton.active:focus,
.open > .dropdown-toggle.btn-navbutton:focus,
.btn-navbutton:active.focus,
.btn-navbutton.active.focus,
.open > .dropdown-toggle.btn-navbutton.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.btn-navbutton:active,
.btn-navbutton.active,
.open > .dropdown-toggle.btn-navbutton {
  background-image: none;
}
.btn-navbutton.disabled:hover,
.btn-navbutton[disabled]:hover,
fieldset[disabled] .btn-navbutton:hover,
.btn-navbutton.disabled:focus,
.btn-navbutton[disabled]:focus,
fieldset[disabled] .btn-navbutton:focus,
.btn-navbutton.disabled.focus,
.btn-navbutton[disabled].focus,
fieldset[disabled] .btn-navbutton.focus {
  background-color: #fff;
  border-color: #ccc;
}
.btn-navbutton .badge {
  color: #fff;
  background-color: #333;
}
