<strong>Gold Sponsors</strong>

<p>Check Point Software Technologies LTD.</p>
<img src="/images/spon-wellbury2.jpg" />

<br />
<br />

<strong>Social Media</strong>

<p>Our LinkedIn Group:</p>
<script src="//platform.linkedin.com/in.js" type="text/javascript">
  lang: en_US
</script>
<script type="IN/FollowCompany" data-id="2641194" data-counter="right"></script>

<a class="twitter-timeline"  href="https://twitter.com/oisf" data-widget-id="535755313488863232">Tweets by @oisf</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
