<html>
  {% include head.html %}
  <body>
    <header>
      {% include navbar.html %}
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <sidebar>
            {% include sponsor_bar.html %}
          </sidebar>
        </div>
        <div class="col-md-8">
          <content>
            {{ content }}
          </content>
        </div>
      </div>
      <footer>
        {% include footer.html %}
      </footer>
    </div>
  </body>
</html>
